# Judge
Levenshtein~=0.26.1
scikit-image~=0.24.0
opencv-python~=4.10.0.84
selenium>=4.0.0

# API
torch
ollama
openai

# Test packages
Django~=5.1.1
Markdown~=3.7
matplotlib~=3.9.2
pyperclip~=1.9.0
qrcode~=7.4.2
openpyxl~=3.1.5
pandas~=2.2.3

# Objective Indicators
numpy
scipy
sentence-transformers
codebleu[all]>=0.7.1 # git+https://github.com/k4black/codebleu.git
tree-sitter-python >=0.23.0,<0.24.0